@import "tailwindcss";

@theme {
  --font-family-sans: 'Inter', sans-serif;

  --color-primary: #0077B6;
  --color-primary-light: #0096C7;
  --color-primary-dark: #023E8A;

  --color-accent: #00B4D8;
  --color-accent-hover: #48CAE4;
  --color-accent-light: #ADE8F4;

  --color-brand-dark: #0077B6;
  --color-brand-light: #00B4D8;
}

body {
  font-family: var(--font-family-sans);
  scroll-behavior: smooth;
}

.reveal-hidden {
  opacity: 0;
  transform: translateY(20px);
}

.reveal-visible {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.7s cubic-bezier(0.22, 1, 0.36, 1);
}
