@import "tailwindcss";

@theme {
  --font-family-sans: 'Inter', sans-serif;

  --color-primary: #0D729C;
  --color-primary-light: #108BC7;
  --color-primary-dark: #0A5A7D;

  --color-accent: #0D729C;
  --color-accent-hover: #108BC7;
  --color-accent-light: #0A5A7D;

  --color-brand-dark: #0077B6;
  --color-brand-light: #00B4D8;
}

body {
  font-family: var(--font-family-sans);
  scroll-behavior: smooth;
}

.reveal-hidden {
  opacity: 0;
  transform: translateY(20px);
}

.reveal-visible {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.7s cubic-bezier(0.22, 1, 0.36, 1);
}

.text-brand-red {
  color: rgba(162, 33, 49, 1);
}

.text-brand-blue {
  color: rgba(13, 114, 156, 1);
}

.text-accent {
  color: #0D729C;
}
